@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600;900&family=Noto+Sans+KR:wght@100;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #ECECEC;
    font-size: 10px;
    /* font-family: 'Bodoni Moda', serif; */ /*400 600 900*/
    /* font-family: 'Bodoni MT', serif; */ /*400 600 900*/
    font-family: 'Noto Sans KR', sans-serif; /*100 300 500*/
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-title {
    color: #F6F2E2;
    font-family: 'Bodoni MT', serif;
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: #F4BC41;
}
.cta {
    font-family: 'Bodoni MT', serif;
    display: block;
    width: fit-content;
    text-align: center;
    padding: 10px 30px;
    color: #F6F2E2;
    background-color: transparent;
    border: 2px solid #F4BC41;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: #F6F2E2 ;
    background-color: #F4BC41;
}
.line {
    border: 0;
    background-color: #F6F2E2;
    height: 1px;
}

/* Start Section */
#start {
    font-family: 'Bodoni MT', serif;
    background-image: url(./images/main_no.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#start::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}
#start .blue-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: 430px;
    padding-left: 5px;
    background-image: url(./images/circle.svg);
    background-size: cover;
    background-position: center;
}
#start #name-box {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}
#start h1 {
    display: block;
    text-align: center;
    width: fit-content;
    font-weight: 900;
    font-size: 9rem;
    letter-spacing: 10px;
    position: relative;
    color: #F6F2E2;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
#start h2 {
    text-align: center;
    display: inline-block;
    width: fit-content;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 5px;
    position: relative;
    color: #F6F2E2;
}
#start #name {
    width: fit-content;
    margin-left: 1.2rem;
    color: transparent;
    animation: text_reveal .3s ease forwards;
    animation-delay: 1.5s;
}
#start .line {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
}
#start #sub-name {
    font-size: 2rem;
}
#start #name span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #F6F2E2;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#start #scroll {
    position: absolute;
    bottom: 30px;
}
/* End Start Section */

/* About Section */
#about {
    background-color: #202020;
}
#about .about {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    position: relative;
    width: 425px;
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}
#about .col-left #top-line {
    position: absolute;
    margin: 0;
    right: 0;
    width: 300px;
}
#about .col-left .section-title {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}
#about .col-left .about-img-box {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
    top: 50px;
    left: 0;
}
#about .col-left .about-img {
    width: 130%;
    height: 130%;
    object-fit: cover;
    object-position: -45px -80px;
}
#about .about-profile {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 120px;
}
#about .col-left h2 {
    color: #F6F2E2;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .8rem;
    text-align: right;
    margin-bottom: 10px;
}
#about .col-left .about-title {
    font-size: 2rem;
    font-family: 'Bodoni MT', serif;
    font-weight: 600;
    letter-spacing: .4rem;
}
#about .col-left #birth {
    font-size: 1.5rem;
    font-family: 'Bodoni MT', serif;
    font-weight: 400;
    letter-spacing: .2rem;
}
#about .col-left #middle-line {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 130px;
}
#about .col-left li {
    color: #F6F2E2;
    font-size: 1.4rem;
    font-family: 'Bodoni MT', serif;
    font-weight: 400;
    letter-spacing: .3rem;
    line-height: 2.4rem;
    text-align: right;
    margin-bottom: 10px;
}
#about .col-left #bottom-line {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 15px;
    width: 240px;
}
#about .col-right {
    width: 80%;
    height: fit-content;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
#about .col-right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right .about-title {
    text-align: left;
    font-size: 2rem;
    font-family: 'Bodoni MT', serif;
    font-weight: 600;
    letter-spacing: .4rem;
    color: #6499CA;
}
#about .col-right .box {
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#about .col-right ul {
    text-align: left;
}
#about .col-right li {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 300;
    letter-spacing: .3rem;
    margin-bottom: 15px;
    line-height: 1.5rem;
}
#about .col-right li:last-child {
    margin-bottom: 0;
}
#about .col-right li span {
    font-family: 'Bodoni MT', serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .3rem;
}
#about .col-right #first-box {
    background-color: #F6F2E2;
    color: #1B354D;
    opacity: 0.8;
    top: 0;
    z-index: 1;
}
#about .col-right #first-box li{
    font-weight: normal;
}
#about .col-right #second-box {
    background-color: #1B354D;
    color: #F6F2E2;
    padding-top: 60px;
    top: -40px;
    left: 40px;
}
/* End About Section */

/* Skills Section */
#skills {
    background-color: #162B3E;
}
#skills .skills {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#skills .skill-top {
    position: relative;
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#skills .skill-top  .white-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(./images/white-circle.svg);
    top: 0;
    left: 70px;
}
#skills .skill-top #title-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 230px;
    background-color: #202020;
    top: 40px;
    left: 110px;
}
#skills .skill-top #sphere-box {
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: .3;
    bottom: 20px;
    right: 0;
}
#skills .skill-top #title-box .section-title {
    margin-left: auto;
    margin-right: auto;
}
#skills .skill-top #quote-box-top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 125px;
}
#skills .skill-top #quote-box-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 95px;
    left: 180px;
}
#skills .skill-top .quotes{
    width: 20px;
    height: 20px;
    margin-bottom: 35px;
}
#skills .skill-top .quotes:first-child{
    margin-right: 10px;
}
#skills .skill-top .quotes:last-child{
    margin-left: 10px;
}
#skills .skill-top .quote {
    font-family: 'Bodoni MT', serif;
    color: #F6F2E2;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .4rem;
}
#skills .skill-bottom {
    font-family: 'Bodoni MT', serif;
    color: #F6F2E2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#skills .skill-bottom:after {
    width: 450px;
    height: 600px;
    content: '';
    background-image: url(./images/grid-circle.svg);
    background-size: cover;
    opacity: .5;
    position: absolute;
}
#skills .skill-bottom .skills-title {
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: .3rem;
}
#skills .skill-bottom .line {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
#skills .skill-bottom ul {
    margin-bottom: 20px;
}
#skills .skill-bottom li {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
/* End Skills Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1 {
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #F6F2E2;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p {
    color: #F6F2E2;
}
#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}
#projects .project-img img {
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}
/* End Projects Section */

/* Start Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color:  #F6F2E2;
    }
}
/* End Start Keyframes */

/* Media Query for Tablet */
@media only screen and (min-width:768px) {
    .cta {
        font-size: 1.7rem;
        padding: 10px 40px;
    }
    h1.section-title {
        font-size: 8rem;
    }

    /* Start */
    #hero h1 {
        font-size: 4.5rem;
    }
    /* End Start */

    /* Skills Section */
    #skills .skill-bottom .skill-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Skills Section */

    /* Projects Section */
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Projects Section */

    /* About Section */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 800px;
        height: 400px;
        padding-left: 50px;
    }
    /* #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
    } */
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About Section */
}
/* End Media Query for Tablet */