extends layout

block content
    section#start
            div.start.container
                div
                    h1 HELLO
                    h2 My Name is 
                    h2#name Hyojung
                        span
                    a.cta(href="#" type="button") Portfolio
    section#services
        div.services.container
            div.service-top
                h1.section-title Services
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            div.service-bottom
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

                    