extends layout

block content
    section#start
            div.start.container
                div
                    h1 HELLO
                    h2 My Name is 
                    h2#name Hyojung
                        span
                    a.cta(href="#" type="button") Portfolio
    section#services
        div.services.container
            div.service-top
                h1.section-title Services
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            div.service-bottom
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                div.service-item
                    div.icon
                        img(src="https://img.icons8.com/bubbles/50/000000/code.png")
                    h2 Web Design
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    section#projects
        div.projects.container
            div.projects-header
                h1.section-title Projects
            div.all-projects
                div.project-item
                    div.project-info
                        h1 Project 1
                        h2 Coding is Love
                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    div.project-img
                        img(src="./images/project-04.jpg" alt="img")
                div.project-item
                    div.project-info
                        h1 Project 1
                        h2 Coding is Love
                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    div.project-img
                        img(src="./images/project-04.jpg" alt="img")        
                div.project-item
                    div.project-info
                        h1 Project 1
                        h2 Coding is Love
                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    div.project-img
                        img(src="./images/project-04.jpg" alt="img")
                div.project-item
                    div.project-info
                        h1 Project 1
                        h2 Coding is Love
                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    div.project-img
                        img(src="./images/project-04.jpg" alt="img")
    section#about
        div.about.container
            div.col-left
                div.about-img
                    img(src="./images/person.jpg" alt="img")
            div.col-right
                h1.section-title About
                h2 Full Stack Web Developer
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                a.cta(href="#") Download Resume
    section#footer
        div.footer.container
            div.brand
                h1 Hyojung Lee
                h2 Web solution